.home-container{
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    overflow: hidden;
    /* background-color: rgb(251, 255, 0); */
}

.home-header{
    width: 49%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 15px;
}

.home-left{
    margin-top: 1rem;
    width: 49%;
    /* display: flex; */
    float: left;

    background-color: #f7f7f7;
    border-radius: 15px;
    padding: 1.5rem 2rem;
}

.home-right{
    width: 49%;
    height: 100%;

    float: right;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    border-radius: 15px;
    padding: 1.5rem 1.5rem;
}

@media all and (max-height: 768px) {
    .home-header {float: none; width: 100%;}
    .home-right {margin-top: 1rem;}
}

.home-title{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
}

.home-subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-description{
    font-size: 2rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}







.wrap {width: 85%; margin: auto; overflow: hidden;}
.lefts {float: right; height: 510px; width: 49%; background: pink;}
.rights {float: left; height: 250px; margin-bottom: 10px; width: 49%;}
.rights.top {background: green;}
.rights.bot {background: red;}
